/**
* website styles
*/
/*! normalize.css v9.0.0 | MIT License | github.com/csstools/normalize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   * ========================================================================== */
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   * ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * Add the correct display in IE.
   */
main {
  display: block;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   * ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Add the correct text decoration in Edge, IE, Opera, and Safari.
   */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/* Embedded content
   * ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block;
}

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none;
}

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   * ========================================================================== */
/**
   * Remove the margin in Safari.
   */
button,
input,
select {
  margin: 0;
}

/**
   * 1. Show the overflow in IE.
   * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
   */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * Show the overflow in Edge and IE.
   */
input {
  overflow: visible;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
   * 1. Add the correct display in Edge and IE.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Remove the inheritance of text transform in Firefox.
   */
select {
  text-transform: none;
}

/**
   * 1. Remove the margin in Firefox and Safari.
   * 2. Remove the default vertical scrollbar in IE.
   */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
}

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Safari.
   */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Correct the text style of placeholders in Chrome, Edge, and Safari.
   */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   * ========================================================================== */
/*
   * Add the correct display in Edge and IE.
   */
details {
  display: block;
}

/*
   * Add the correct styles in Edge, IE, and Safari.
   */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Scripting
   * ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block;
}

/**
   * Add the correct display in IE.
   */
template {
  display: none;
}

/* User interaction
   * ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none;
}

.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.header__info {
  background: #E6E6E6;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__info .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Hind;
  font-size: 0.875rem;
  color: #727272;
  margin-right: 96px;
}

.header__contact li {
  padding: 0 15px;
}

.header__contact i {
  color: #f8c12c;
  margin-right: 5px;
}

.header__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__social-media li {
  padding-left: 12px;
  padding-right: 12px;
}

.header__social-media li > a {
  color: #2e2e2e;
}

.header__logo {
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (max-width: 37.5em) {
  .header__logo-img {
    max-height: 50px;
  }
}

.header__mbutton {
  display: none;
  padding: 10px 15px;
  border: 2px solid #dddddd;
  border-radius: 4px;
  background: transparent;
}

.header__mbutton:focus {
  outline: 0;
}

.header__sbutton {
  display: none;
  background: transparent;
  border: 0;
  padding: 10px 15px;
  margin-right: 30px;
  font-size: 0.875rem;
}

.header__sbutton i {
  color: #000;
}

@media all and (max-width: 1024px) {
  .header__info {
    display: none;
  }
  .header__logo .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__sbutton,
  .header__mbutton {
    display: initial;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__link {
  font-family: Hind, "Open sans", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.menu__link:hover, .menu__link:active {
  color: #f8c12c;
}

.menu__link:hover::after {
  content: "";
  display: inline-block;
  font-weight: 900;
  width: 100%;
  height: 3px;
  background: #f8c12c;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav {
  background-color: rgba(0, 0, 0, 0.95);
}

.nav__close {
  display: none;
  background: transparent;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  font-size: 1.125rem;
}

.mobile-button {
  color: #ffffff;
  font-size: 1.5rem;
  border: 1px solid #ffffff;
  background: transparent;
  padding: 15px 20px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    background: #272929;
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 200;
    padding-top: 48px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav.is-expanded {
    left: 0;
  }
  .nav__close {
    display: initial;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .menu__item:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  .menu__item::after {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    content: "\F054";
    font-weight: 900;
    font-size: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
  }
  .menu__link {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 0.8125rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .menu__link:hover, .menu__link:active {
    background-color: #9f7605;
    outline: 1px dashed #ffffff;
  }
  .mobile-button {
    display: inline-block;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #272929;
  padding-top: 48px;
  font-family: Hind;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 37.5em) {
  .footer__container {
    grid-row-gap: 24px;
  }
}

@media (min-width: 70em) {
  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer__column {
  color: #f7f7f7;
  position: relative;
  padding-bottom: 100px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__column i {
  color: #f8c12c;
  margin-right: 15px;
}

@media (min-width: 70em) {
  .footer__column:not(:last-child) {
    border-right: 1px solid #353535;
  }
}

.footer__title {
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #f8c12c;
  letter-spacing: 2px;
  margin-top: 0;
}

.footer__logo {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.footer__copyright {
  padding: 24px 0;
  background-color: #131313;
  color: #838383;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 40px;
}

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-nav__item {
  padding: 6px 0;
}

.footer-nav__link {
  color: #b2b2b2;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-nav__link:hover {
  color: #f8c12c;
}

.button-search {
  font-size: 1.5rem;
}

.button-search > i {
  color: #ffffff;
}

.main-slider {
  height: 400px;
  overflow-y: hidden;
}

.glide__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glide__bullet {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.home-slides {
  top: -220px;
}

.button {
  display: inline-block;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  padding: 12px;
  font-size: 0.8125rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1475AB;
  text-align: center;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover, .button:active, .button:focus {
  outline: 1px solid #1475AB;
}

.button--primary {
  border-color: #444444;
  background-color: #272929;
  color: #ffffff;
}

.button--primary:hover, .button--primary:active, .button--primary:focus {
  outline: 0;
  background-color: #333636;
}

.button--secondary {
  border-color: #f7ba13;
  background-color: #f8c12c;
  color: #ffffff;
}

.button--secondary:hover, .button--secondary:active, .button--secondary:focus {
  outline: 0;
  background-color: #fad776;
}

.button--outline-primary {
  border-width: 2px;
  color: #f8c12c;
  background-color: transparent;
}

.button--small {
  font-size: 0.8125rem;
  padding: 6px;
}

.button--large {
  padding: 12px 48px;
}

.button--huge {
  font-size: 1.125rem;
  padding: 48px 96px;
}

.button--block {
  display: block;
  width: 100%;
}

.card__buttons {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.card--bordered {
  border: 1px solid #E6E6E6;
}

.card--primary {
  border-color: #f8c12c;
}

.card--secondary {
  border-color: #272929;
}

.card--gallery {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.card__title {
  width: 100%;
  text-transform: uppercase;
  margin-top: 36px;
  margin-bottom: 24px;
  font-weight: bold;
}

.card__title > a {
  color: #272929;
}

.card__body {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 12px;
}

.card__body .card__title {
  margin-top: 24px;
  margin-bottom: 24px;
}

.card__image {
  display: block;
}

.card__buttons {
  padding: 12px;
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 70em) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.page-header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #272929;
}

@media (min-width: 70em) {
  .page-header {
    height: 450px;
  }
}

.page-header__title {
  font-family: Hind, sans-serif;
  font-size: 1.125rem;
  color: #ffffff;
}

@media (min-width: 70em) {
  .page-header__title {
    font-size: 6.5rem;
  }
}

.grid {
  display: grid;
}

.grid--justify-items-start {
  justify-items: start;
}

.grid--align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.grid--justify-items-center {
  justify-items: center;
}

.grid--align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid--justify-items-end {
  justify-items: end;
}

.grid--align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.grid--justify-items-stretch {
  justify-items: stretch;
}

.grid--align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.grid--column-gap\@10 {
  grid-column-gap: 10px;
}

.grid--row-gap\@10 {
  grid-row-gap: 10px;
}

.grid--gap\@10 {
  grid-gap: 10px;
}

.grid--column-gap\@20 {
  grid-column-gap: 20px;
}

.grid--row-gap\@20 {
  grid-row-gap: 20px;
}

.grid--gap\@20 {
  grid-gap: 20px;
}

.grid--column-gap\@30 {
  grid-column-gap: 30px;
}

.grid--row-gap\@30 {
  grid-row-gap: 30px;
}

.grid--gap\@30 {
  grid-gap: 30px;
}

.grid--column-gap\@40 {
  grid-column-gap: 40px;
}

.grid--row-gap\@40 {
  grid-row-gap: 40px;
}

.grid--gap\@40 {
  grid-gap: 40px;
}

.grid--column-gap\@50 {
  grid-column-gap: 50px;
}

.grid--row-gap\@50 {
  grid-row-gap: 50px;
}

.grid--gap\@50 {
  grid-gap: 50px;
}

.grid--justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.grid--align-content-start {
  -ms-flex-line-pack: start;
      align-content: start;
}

.grid--justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid--align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.grid--justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.grid--align-content-end {
  -ms-flex-line-pack: end;
      align-content: end;
}

.grid--justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid--align-content-space-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.grid--justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid--align-content-space-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.grid--justify-content-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid--align-content-space-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.grid--columns-1 {
  grid-template-columns: 1fr;
}

.grid--rows-1 {
  grid-template-rows: 1fr;
}

.grid--columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

.grid--columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid--columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid--rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

.grid--columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid--rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

.grid--columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid--rows-6 {
  grid-template-rows: repeat(6, 1fr);
}

.grid--columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid--rows-7 {
  grid-template-rows: repeat(7, 1fr);
}

.grid--columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid--rows-8 {
  grid-template-rows: repeat(8, 1fr);
}

.grid--columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid--rows-9 {
  grid-template-rows: repeat(9, 1fr);
}

.grid--columns-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid--rows-10 {
  grid-template-rows: repeat(10, 1fr);
}

.grid--columns-11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid--rows-11 {
  grid-template-rows: repeat(11, 1fr);
}

.grid--columns-12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid--rows-12 {
  grid-template-rows: repeat(12, 1fr);
}

.grid__item--column-start-1 {
  grid-column-start: 1;
}

.grid__item--column-end-1 {
  grid-column-end: 1;
}

.grid__item--row-start-1 {
  grid-row-start: 1;
}

.grid__item--row-end-1 {
  grid-row-end: 1;
}

.grid__item--column-start-2 {
  grid-column-start: 2;
}

.grid__item--column-end-2 {
  grid-column-end: 2;
}

.grid__item--row-start-2 {
  grid-row-start: 2;
}

.grid__item--row-end-2 {
  grid-row-end: 2;
}

.grid__item--column-start-3 {
  grid-column-start: 3;
}

.grid__item--column-end-3 {
  grid-column-end: 3;
}

.grid__item--row-start-3 {
  grid-row-start: 3;
}

.grid__item--row-end-3 {
  grid-row-end: 3;
}

.grid__item--column-start-4 {
  grid-column-start: 4;
}

.grid__item--column-end-4 {
  grid-column-end: 4;
}

.grid__item--row-start-4 {
  grid-row-start: 4;
}

.grid__item--row-end-4 {
  grid-row-end: 4;
}

.grid__item--column-start-5 {
  grid-column-start: 5;
}

.grid__item--column-end-5 {
  grid-column-end: 5;
}

.grid__item--row-start-5 {
  grid-row-start: 5;
}

.grid__item--row-end-5 {
  grid-row-end: 5;
}

.grid__item--column-start-6 {
  grid-column-start: 6;
}

.grid__item--column-end-6 {
  grid-column-end: 6;
}

.grid__item--row-start-6 {
  grid-row-start: 6;
}

.grid__item--row-end-6 {
  grid-row-end: 6;
}

.grid__item--column-start-7 {
  grid-column-start: 7;
}

.grid__item--column-end-7 {
  grid-column-end: 7;
}

.grid__item--row-start-7 {
  grid-row-start: 7;
}

.grid__item--row-end-7 {
  grid-row-end: 7;
}

.grid__item--column-start-8 {
  grid-column-start: 8;
}

.grid__item--column-end-8 {
  grid-column-end: 8;
}

.grid__item--row-start-8 {
  grid-row-start: 8;
}

.grid__item--row-end-8 {
  grid-row-end: 8;
}

.grid__item--column-start-9 {
  grid-column-start: 9;
}

.grid__item--column-end-9 {
  grid-column-end: 9;
}

.grid__item--row-start-9 {
  grid-row-start: 9;
}

.grid__item--row-end-9 {
  grid-row-end: 9;
}

.grid__item--column-start-10 {
  grid-column-start: 10;
}

.grid__item--column-end-10 {
  grid-column-end: 10;
}

.grid__item--row-start-10 {
  grid-row-start: 10;
}

.grid__item--row-end-10 {
  grid-row-end: 10;
}

.grid__item--column-start-11 {
  grid-column-start: 11;
}

.grid__item--column-end-11 {
  grid-column-end: 11;
}

.grid__item--row-start-11 {
  grid-row-start: 11;
}

.grid__item--row-end-11 {
  grid-row-end: 11;
}

.grid__item--column-start-12 {
  grid-column-start: 12;
}

.grid__item--column-end-12 {
  grid-column-end: 12;
}

.grid__item--row-start-12 {
  grid-row-start: 12;
}

.grid__item--row-end-12 {
  grid-row-end: 12;
}

.grid__item--align-self-auto {
  -ms-flex-item-align: auto;
      align-self: auto;
}

.grid__item--justify-self-auto {
  justify-self: auto;
}

.grid__item--align-self-normal {
  -ms-flex-item-align: normal;
      align-self: normal;
}

.grid__item--justify-self-normal {
  justify-self: normal;
}

.grid__item--align-self-start {
  -ms-flex-item-align: start;
      align-self: start;
}

.grid__item--justify-self-start {
  justify-self: start;
}

.grid__item--align-self-end {
  -ms-flex-item-align: end;
      align-self: end;
}

.grid__item--justify-self-end {
  justify-self: end;
}

.grid__item--align-self-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.grid__item--justify-self-center {
  justify-self: center;
}

.grid__item--align-self-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.grid__item--justify-self-stretch {
  justify-self: stretch;
}

.grid__item--align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.grid__item--justify-self-baseline {
  justify-self: baseline;
}

.grid__item--align-self-first baseline {
  -ms-flex-item-align: "first baseline";
      align-self: "first baseline";
}

.grid__item--justify-self-first baseline {
  justify-self: "first baseline";
}

.grid__item--align-self-last baseline {
  -ms-flex-item-align: "last baseline";
      align-self: "last baseline";
}

.grid__item--justify-self-last baseline {
  justify-self: "last baseline";
}

.grid__container {
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumb {
  list-style-type: none;
  margin: 0;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E6E6;
  margin-bottom: 24px;
}

.breadcrumb li {
  font-family: Hind;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.breadcrumb li:not(:last-child)::after {
  display: inline;
  content: "\2192";
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.breadcrumb li a {
  color: #1475AB;
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 24px;
}

.widget__item, .widget__title {
  width: 100%;
  font-family: Hind;
  margin-bottom: 24px;
}

.widget__item {
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.widget__item--bg-light {
  background-color: #E6E6E6;
}

.widget__title {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 5px solid #272929;
}

.form__message {
  padding: 24px;
  background-color: #2ECC71;
  text-align: center;
  color: #fff;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.form__input {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8125rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 6px;
  padding-bottom: 6px;
}

.form__input--large {
  font-size: 1.125rem;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form__input:focus {
  outline: 0;
  border-color: #66bfff;
  -webkit-box-shadow: inset 0 0 4px #eff0f1, 0 0 0 4px rgba(0, 149, 255, 0.15);
          box-shadow: inset 0 0 4px #eff0f1, 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.form__group {
  width: 100%;
  margin-bottom: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.form__label {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
}

.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: inherit;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.hero__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 193, 44, 0.5);
  z-index: 99;
}

.hero__container {
  height: inherit;
  margin: 0 auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

.hero__title {
  font-size: 3.25rem;
  margin: 5px 0;
}

.hero__text {
  max-width: 800px;
}

.hero__container .button:not(:hover) {
  border-color: #ffffff;
}

.featured-services {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #E6E6E6;
}

@media (min-width: 70em) {
  .featured-services {
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(2, minmax(25vw, 30vw));
  }
}

.featured-services__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (min-width: 70em) {
  .featured-services__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featured-services__group .card__body {
  text-align: left;
}

@media (min-width: 70em) {
  .featured-services__group .card__body {
    min-width: 300px;
  }
}

.company-segments {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.company-segments__featured {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url(/images/layout/black-and-white-factory-industrial-plant-415945.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 300px;
  color: #fff;
}

.machines {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 63vw));
  grid-auto-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 96px;
  margin-bottom: 96px;
}

.machines__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 24px;
  justify-items: center;
  margin-top: 24px;
}

.machines .title {
  margin: 0;
  text-align: center;
}

.machines__cards .card {
  max-width: 380px;
}

.machines__cards .card__title {
  font-family: Hind;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.machines__cards .card__body {
  padding-left: 0;
  padding-right: 0;
}

.clients {
  padding-top: 24px;
  padding-bottom: 24px;
}

.clients img {
  max-width: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.clients img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0;
}

@media (min-width: 70em) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__title, .contact__icon {
  text-align: center;
}

.contact__icon {
  font-size: 3.25rem;
}

.contact__info {
  max-width: 300px;
  padding: 24px;
}

.contact__info > p {
  text-align: center;
  line-height: 1.5;
}

.contact__info a {
  color: #272929;
}

.contact-form {
  background-color: #f8c12c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 48px;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 70em) {
  .products__list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }
}

.products .card__title {
  text-align: center;
}

.products .card__image {
  height: 280px;
}

.products .product-description {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.products .card:hover .product-description {
  max-height: 100px;
  overflow-y: initial;
}

.category {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 192px;
  grid-auto-rows: auto;
  grid-row-gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 70em) {
  .category {
    grid-template-columns: 25% 75%;
    grid-column-gap: 24px;
  }
}

.category__main {
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid #E6E6E6;
  padding: 24px;
}

.category__description {
  display: none;
}

@media (min-width: 70em) {
  .category__description {
    display: initial;
  }
}

.about {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

@media (min-width: 70em) {
  .about {
    margin-top: -24px;
    grid-template-columns: repeat(auto-fill, 50%);
  }
}

.about__image {
  height: 200px;
  background-image: url(../images/layout/black-and-white-factory-industrial-plant-415945.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: sepia(1) saturate(4);
          filter: sepia(1) saturate(4);
}

@media (min-width: 70em) {
  .about__image {
    height: 580px;
  }
}

.about__text {
  color: #727272;
  background: #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}

@media (max-width: 37.5em) {
  .about__text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 70em) {
  .about__text {
    height: 580px;
    padding-left: 96px;
    padding-bottom: 24px;
    padding-right: 300px;
  }
}

.about h1 {
  font-family: Hind;
  font-weight: bold;
}

.statistics {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.statistics__title, .statistics__description {
  text-align: center;
}

.page-header.page-about {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  background-image: url("../images/layout/industry-1024x530.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", Arial, sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  color: #444444;
  text-rendering: auto;
  line-height: 1.5;
}

a[href] {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.menu-is-open .content {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.title {
  font-family: Hind, 'Open sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383838;
}

.title--huge {
  font-size: 3.25rem;
}

.title--medium {
  font-size: 0.875rem;
}

.title--small {
  font-size: 0.8125rem;
}

.title--thin {
  font-weight: 300;
}

.title--white {
  color: #ffffff;
}

.title--sub {
  color: #272929;
}

.title--divider-right::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin-left: 24px;
}

.title--divider-left::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin-right: 24px;
}

.title--divider-center::before, .title--divider-center::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin-right: 24px;
  margin-left: 24px;
}

.title--underline-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 2px solid #f8c12c;
}

.title--underline-secondary {
  border-bottom: 2px solid #272929;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.p-bottom-0 {
  padding-bottom: 0px;
}

.p-top-0 {
  padding-top: 0px;
}

.p-left-0 {
  padding-left: 0px;
}

.p-right-0 {
  margin-right: 0px;
}

.m-bottom-0 {
  margin-bottom: 0px;
}

.m-top-0 {
  margin-top: 0px;
}

.m-left-0 {
  margin-left: 0px;
}

.m-right-0 {
  margin-right: 0px;
}

.p-bottom-10 {
  padding-bottom: 10px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-left-10 {
  padding-left: 10px;
}

.p-right-10 {
  margin-right: 10px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-left-10 {
  margin-left: 10px;
}

.m-right-10 {
  margin-right: 10px;
}

.p-bottom-20 {
  padding-bottom: 20px;
}

.p-top-20 {
  padding-top: 20px;
}

.p-left-20 {
  padding-left: 20px;
}

.p-right-20 {
  margin-right: 20px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-left-20 {
  margin-left: 20px;
}

.m-right-20 {
  margin-right: 20px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

.p-top-30 {
  padding-top: 30px;
}

.p-left-30 {
  padding-left: 30px;
}

.p-right-30 {
  margin-right: 30px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-left-30 {
  margin-left: 30px;
}

.m-right-30 {
  margin-right: 30px;
}

.p-bottom-40 {
  padding-bottom: 40px;
}

.p-top-40 {
  padding-top: 40px;
}

.p-left-40 {
  padding-left: 40px;
}

.p-right-40 {
  margin-right: 40px;
}

.m-bottom-40 {
  margin-bottom: 40px;
}

.m-top-40 {
  margin-top: 40px;
}

.m-left-40 {
  margin-left: 40px;
}

.m-right-40 {
  margin-right: 40px;
}

.p-bottom-50 {
  padding-bottom: 50px;
}

.p-top-50 {
  padding-top: 50px;
}

.p-left-50 {
  padding-left: 50px;
}

.p-right-50 {
  margin-right: 50px;
}

.m-bottom-50 {
  margin-bottom: 50px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-left-50 {
  margin-left: 50px;
}

.m-right-50 {
  margin-right: 50px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
