// colors
$brand-color:#f8c12c;
$dark-gray: #272929;
$medium-gray: #383838;
$yellow-color:#f8c12c;
$light-gray: #E6E6E6;
$success-color: #2ECC71;
$info-color: #3498DB;
$danger-color: #E74C3C;

// links
$link-color: #1475AB;
$link-hover-color: $brand-color;

// font
$default-line-height: 1.5;
$heading-font: Hind, 'Open sans', sans-serif;
$default-font: 'Open sans', Arial, sans-serif;
$font-small: 0.8125rem;
$font-medium: 0.875rem; // 14px
$font-large: 1.125rem; // 18px
$font-huge: 3.25rem; // 52px

// to lighten/darken variation
$color-amount-variation: 5%;

// paddings
$default-padding: 2.5rem;
$paddings: 0 10 20 30 40 50;

// layout
$footer-bg-color: $dark-gray;

// border-radius
$default-border-radius: 4px;

// breakpoints
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 70em) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 64em) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 50em) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 37.5em)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 37.5em)  { @content ; }

   }
 }

 // grid
 $grid-max-columns-rows: 12;
 $grid-gap-widths: 10 20 30 40 50;
 $grid-justify-items-position: start center end stretch;
 $grid-item-align-self: auto normal start end center stretch baseline 'first baseline' 'last baseline';
 $grid-justify-align-content: start center end space-around space-between space-evenly;

 // spacing
 $space-unit-base: 6 !default;
 $default-space-unit: $space-unit-base * 4 !default;
 $default-space-unit-tiny: $space-unit-base * 1 !default;
 $default-space-unit-small: $space-unit-base * 2 !default;
 $default-space-unit-large: $space-unit-base * 8 !default;
 $default-space-unit-huge:  $space-unit-base * 16 !default;

 // transitions
 $default-transition-property: all;
 $default-transition-delay: .3s;
 $default-transition-timing-function: ease-in-out;
 $global-transition: $default-transition-property $default-transition-delay $default-transition-timing-function;

 // header config
 $header-height: 110px;
 $header-shape-skewX: -20px;
 $navbar-link-hover-color: $brand-color;
