.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: $footer-bg-color;
    padding-top: #{$default-space-unit-large}px;
    font-family: Hind;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        padding-left: #{$default-space-unit}px;
            padding-right: #{$default-space-unit}px;
        @include breakpoint(mobileonly) {
            grid-row-gap: #{$default-space-unit}px;
        }
        @include breakpoint(desktop) {
            max-width: 1200px;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: #{$default-space-unit}px;
            justify-content: center;
            align-items: start;
        }
    }

    &__column {
        color: #f7f7f7;
        position: relative;
        padding-bottom: 100px;
        height: 100%;
        box-sizing: border-box;

        i {
            color: $brand-color;
            margin-right: 15px;
        }

    }

    @include breakpoint(desktop) {
        &__column:not(:last-child) {
            border-right: 1px solid #353535;
        }
    }

    &__title {
        font-size: $font-small;
        text-transform: uppercase;
        color: $brand-color;
        letter-spacing: 2px;
        margin-top: 0;
    }

    &__logo {
        filter: grayscale(1);
    }

    &__copyright {
        padding: #{$default-space-unit}px 0;
        background-color: #131313;
        color: #838383;
        text-align: center;
        font-size: $font-medium;
        margin-top: 40px;
    }
}

.footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        padding: #{$default-space-unit-tiny}px 0; 
    }

    &__link {
        color: #b2b2b2;
        text-transform: capitalize;
        transition: $global-transition;

        &:hover {
            color: $brand-color;
        }
    }
}