html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $default-font;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    color: #444444;
    text-rendering: auto;
    line-height: $default-line-height;
}

a[href] {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.menu-is-open .content {
    transition: $global-transition;
    filter: grayscale(1);
}