.grid {
    display: grid;

    @each $position in $grid-justify-items-position {
        &--justify-items-#{$position} { justify-items: $position; }

        &--align-items-#{$position} { align-items: $position; }
    }

    // define os gaps de linhas e colunas em até 60 pixels
    @each $width in $grid-gap-widths {
        &--column-gap\@#{$width} { grid-column-gap: #{$width}px; }

        &--row-gap\@#{$width} { grid-row-gap: #{$width}px; }

        &--gap\@#{$width} { grid-gap: #{$width}px; }
    }

    @each $align in $grid-justify-align-content {
        &--justify-content-#{$align} { justify-content: $align; }

        &--align-content-#{$align} { align-content: $align; }
    }

    @for $i from 1 through $grid-max-columns-rows {
        // define até 12 colunas para o grid-template-columns
        &--columns-#{$i} {
            @if $i == 1 { grid-template-columns: 1fr; }

            @else { grid-template-columns: repeat(#{$i}, 1fr); }
        }

        // define até 12 linhas para grid-template-rows
        &--rows-#{$i} {
            @if $i == 1 { grid-template-rows: 1fr; }

            @else { grid-template-rows: repeat(#{$i}, 1fr); }
        }
    }
}

// classe filha de .grid
.grid__item {

    // define alinhamento das colunas
    @for $i from 1 through 12 {
        &--column-start-#{$i} {
            grid-column-start: $i;
        }

        &--column-end-#{$i} {
            grid-column-end: $i;
        }

        &--row-start-#{$i} {
            grid-row-start: $i;
        }

        &--row-end-#{$i} {
            grid-row-end: $i;
        }
    }

    // define alinhamento único de um item no grid
    @each $align in $grid-item-align-self {
        &--align-self-#{$align} { align-self: $align; }

        &--justify-self-#{$align} { justify-self: $align }
    }
}

.grid__container {
    max-width: 1200px;
    margin: 0 auto;
}
