.header {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        @include paddingLeftRight(#{$default-space-unit}px);
    }

    &__info {
        background: $light-gray;
        @include paddingTopBottom(25px);

        .header__container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__contact {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: Hind;
        font-size: $font-medium;
        color: #727272;
        margin-right: #{$default-space-unit-huge}px;

        li {
            padding: 0 15px;
        }

        i {
            color: $brand-color;
            margin-right: 5px;
        }
    }

    &__social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            @include paddingLeftRight(#{$default-space-unit-small}px);

            > a {
                color: #2e2e2e;
            }            
        }
    }

    &__logo {
        background-color: #ffffff;
        @include paddingTopBottom(#{$default-space-unit-large}px);
    }

    &__logo-img {
        @include breakpoint(mobileonly) {
            max-height: 50px; 
        }
    }
}

// botão mobile
.header__mbutton {
    display: none;
    padding: 10px 15px;
    border: 2px solid #dddddd;
    border-radius: $default-border-radius;
    background: transparent;

    &:focus {
        outline: 0;
    }
}

// botão buscar
.header__sbutton {
    display: none;
    background: transparent;
    border: 0;
    padding: 10px 15px;
    margin-right: 30px;
    font-size: $font-medium;
    i {
        color: #000;
    }    
}

@media all and (max-width: 1024px) {
    .header__info {
        display: none;
    }

    .header__logo .header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__sbutton,
    .header__mbutton {
        display: initial;
    }
}