.main-slider {
    height: 400px;
    overflow-y: hidden;
}

.glide {
    &__bullets {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    &__bullet {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        background: #ffffff;
    }
}

.home-slides {
   top: -220px;
}
