.title {
    font-family: Hind, 'Open sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $medium-gray;

    &--huge {
        font-size: $font-huge;
    }

    &--medium {
        font-size: $font-medium;
    }

    &--small {
        font-size: $font-small;
    }

    &--thin {
        font-weight: 300;
    }

    &--white {
        color: #ffffff;
    }

    &--sub {
        color: $dark-gray;
    }

    &--divider-right {

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: #e6e6e6;
            margin-left: #{$default-space-unit}px;
        }
    }

    &--divider-left {

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background: #e6e6e6;
            margin-right: #{$default-space-unit}px;
        }
    }

    &--divider-center {
        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: #e6e6e6;
            margin-right: #{$default-space-unit}px;
            margin-left: #{$default-space-unit}px;
        }
    }

    &--underline-primary {
        display: inline-flex;
        border-bottom: 2px solid $brand-color;
    }

    &--underline-secondary {
        border-bottom: 2px solid $dark-gray;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

@each $padding in $paddings {
    .p-bottom-#{$padding} {
        padding-bottom: #{$padding}px;
    }

    .p-top-#{$padding} {
        padding-top: #{$padding}px;
    }

    .p-left-#{$padding} {
        padding-left: #{$padding}px;
    }

    .p-right-#{$padding} {
        margin-right: #{$padding}px;
    }

    .m-bottom-#{$padding} {
        margin-bottom: #{$padding}px;
    }

    .m-top-#{$padding} {
        margin-top: #{$padding}px;
    }

    .m-left-#{$padding} {
        margin-left: #{$padding}px;
    }

    .m-right-#{$padding} {
        margin-right: #{$padding}px;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}