.about {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    align-items: center;
    @include breakpoint(desktop) {
        margin-top: -24px;
        grid-template-columns: repeat(auto-fill, 50%);
    }

    &__image {
        height: 200px;
        background-image: url(../images/layout/black-and-white-factory-industrial-plant-415945.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: sepia(1) saturate(4);
        @include breakpoint(desktop) {
            height: 580px;
        }
    }

    &__text {
        color: #727272;
        background: $light-gray;
        box-sizing: border-box;
        line-height: $default-line-height;
        @include breakpoint(mobileonly) {
            padding-left: #{$default-space-unit}px;
            padding-right: #{$default-space-unit}px;
        }
        @include breakpoint(desktop) {
            height: 580px;
            padding-left: #{$default-space-unit-huge}px;
            padding-bottom: #{$default-space-unit}px;
            padding-right: 300px;
        }
    }
}

.about h1 {
    font-family: Hind;
    font-weight: bold;
}

.statistics {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    @include paddingTopBottom(#{$default-space-unit-huge}px);

    &__title,
    &__description {
        text-align: center;
    }
}

.page-header.page-about {
    filter: grayscale(1);
    background-image: url('../images/layout/industry-1024x530.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}