.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: #{$default-space-unit-large}px 0;    

    @include breakpoint(desktop) {
        flex-direction: row;
    }

    &__title,
    &__icon {
        text-align: center;
    }

    &__icon {
        font-size: $font-huge;
    }

    &__info {
        max-width: 300px;
        padding: #{$default-space-unit}px;

        > p {
            text-align: center;
            line-height: $default-line-height;
        }

        a {
            color: $dark-gray;
        }
    }
}

.contact-form {
    background-color: $brand-color;
    box-sizing: border-box;
    @include paddingTopBottom(#{$default-space-unit-large}px);
}
