// Hero section
.hero {
    position: relative;
    height: 500px;
    overflow: hidden;

    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: inherit;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($brand-color, .5);
        z-index: 99;
    }

    &__container {
        height: inherit;
        margin: 0 auto;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
    }

    &__title {
        font-size: $font-huge;
        margin: 5px 0;
    }

    &__text {
        max-width: 800px;
    }
}

.hero__container .button:not(:hover) {
    border-color: #ffffff;
}

// seção de especialistas
.featured-services {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-column-gap: #{$default-space-unit}px;
    justify-content: center;
    align-items: center;
    padding-top: #{$default-space-unit-huge}px;
    padding-bottom: #{$default-space-unit-huge}px;
    background-color: $light-gray;
    @include breakpoint(desktop) {
        padding-left: #{$default-space-unit}px;
        padding-right: #{$default-space-unit}px;
        grid-template-columns: repeat(2, minmax(25vw, 30vw));
    }

    &__group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        @include breakpoint(desktop) {
            flex-direction: column;
        }

        .card__body {
            text-align: left;
            
            @include breakpoint(desktop) {
                min-width: 300px;
            }
        }
    }
}

// seção de segmentos
.company-segments {
    height: 400px;
    display: flex;
    flex-direction: row;

    &__featured {
        display: inline-flex;
        background-image: url(/images/layout/black-and-white-factory-industrial-plant-415945.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 300px;
        color: #fff;
    }
}

// Seção de máquinas
.machines {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50vw, 63vw));
    grid-auto-rows: auto;
    justify-content: center;
    margin-top: #{$default-space-unit-huge}px;
    margin-bottom: #{$default-space-unit-huge}px;

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: auto;
        grid-gap: #{$default-space-unit}px;
        justify-items: center;
        margin-top: #{$default-space-unit}px;
    }
}

.machines .title {
    margin: 0;
    text-align: center;
}

.machines__cards .card {
    max-width: 380px;
}

.machines__cards .card__title {
    font-family: Hind;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
}

.machines__cards .card__body {
    padding-left: 0;
    padding-right: 0;
}

.clients {
    padding-top: #{$default-space-unit}px;
    padding-bottom: #{$default-space-unit}px;

    img {
        max-width: 100%;
        filter: grayscale(1);
        transition: $global-transition;

        &:hover {
            filter: grayscale(0);
        }
    }
}
