.products {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    @include paddingLeftRight(#{$default-space-unit}px);

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        margin-bottom: #{$default-space-unit}px;
        @include paddingLeftRight(#{$default-space-unit}px);
        max-width: 1200px;
        margin: 0 auto;

        @include breakpoint(desktop) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: #{$default-space-unit}px;
        }
    }

    .card__title {
        text-align: center;
    }

    .card__image {
        height: 280px;
    }

    .product-description {
        max-height: 0;
        overflow-y: hidden;
        transition: $global-transition;
    }
}

.products .card:hover {
    .product-description {
        max-height: 100px;
        overflow-y: initial;
    }
}


.category {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: #{$default-space-unit-huge * 2}px;
    grid-auto-rows: auto;
    grid-row-gap: #{$default-space-unit}px;
    @include paddingLeftRight(#{$default-space-unit}px);
    @include breakpoint(desktop) {
        grid-template-columns: 25% 75%;
        grid-column-gap: #{$default-space-unit}px;
    }

    &__main {
       position: sticky;
       border: 1px solid $light-gray;
       padding: #{$default-space-unit}px;
    }

    &__description {
        display: none;        
        @include breakpoint(desktop) {
            display: initial;
        }
    }
}