.breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0 #{$default-space-unit}px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $light-gray;
    margin-bottom: #{$default-space-unit}px;

    li {
        font-family: Hind;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        @include paddingTopBottom(10px);

        &:not(:last-child)::after {
            display: inline;
            content: "\02192";
            font-size: 1.5rem;
            @include paddingLeftRight(10px);
        }

        a {
            color: $link-color;
        }
    }
}