.button {
    display: inline-block;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 4px;
    padding: #{$default-space-unit-small}px;
    font-size: $font-small;
    font-weight: bold;
    text-transform: uppercase;
    color: $link-color;
    text-align: center;
    margin: 0;
    transition: $global-transition;
    background-color: transparent;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus {
        outline: 1px solid $link-color;
    }

    &--primary {
        border-color: #444444;
        background-color: $dark-gray;
        color: #ffffff;

        &:hover,
        &:active,
        &:focus {
            outline: 0;
            background-color: lighten($dark-gray, $color-amount-variation);
        }
    }

    &--secondary {
        border-color: darken($brand-color, $color-amount-variation);
        background-color: $brand-color;
        color: #ffffff;

        &:hover,
        &:active,
        &:focus {
            outline: 0;
            background-color: lighten($brand-color, 15%);
        }
    }

    &--outline-primary {
        border-width: 2px;
        color: $brand-color;
        background-color: transparent;
    }

    &--small {
        font-size: $font-small;
        padding: #{$default-space-unit-tiny}px;
    }

    &--large {
        padding: #{$default-space-unit-small}px #{$default-space-unit-large}px;
    }

    &--huge {
        font-size: $font-large;
        padding: #{$default-space-unit-large}px #{$default-space-unit-huge}px;
    }

    &--block {
        display: block;
        width: 100%;
    }
}

.card__buttons {
    align-self: stretch;
    display: flex;
    flex-direction: row;
}
