.card {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &--bordered {
        border: 1px solid $light-gray;
    }

    &--primary {
        border-color: $brand-color;
    }

    &--secondary {
        border-color: $dark-gray;
    }

    &--gallery {
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
    }
}

.card__title {
    width: 100%;
    text-transform: uppercase;
    margin-top: #{$default-space-unit + $default-space-unit-small}px;
    margin-bottom: #{$default-space-unit}px;
    font-weight: bold;

    > a {
        color: $dark-gray;
    }
}

.card__body {
    font-size: $font-medium;
    line-height: $default-line-height;
    padding: #{$default-space-unit-small}px;

    .card__title {
        margin-top: #{$default-space-unit}px;
        margin-bottom: #{$default-space-unit}px;
    }
}

.card__image {
    display: block;
}

.card__buttons {
    padding: #{$default-space-unit-small}px;
}

.card-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include breakpoint(desktop) {
        flex-direction: row;
    }
}