
.control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
