.form {

    &__message {
        padding: #{$default-space-unit}px;
        background-color: $success-color;
        text-align: center;
        color: #fff;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: #{$default-space-unit}px;
        padding-right: #{$default-space-unit}px;
    }

    &__input {
        width: 100%;
        padding-left: #{$default-space-unit}px;
        padding-right: #{$default-space-unit}px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: $font-small;
        transition: $global-transition;
        @include paddingTopBottom(#{$default-space-unit-tiny}px);

        &--large {
            font-size: $font-large;
            @include paddingTopBottom(#{$default-space-unit-small}px);
        }

        &:focus {
            outline: 0;
            border-color: #66bfff;
            box-shadow: inset 0 0 4px #eff0f1, 0 0 0 4px rgba(0,149,255,0.15);
        }
    }

    &__group {
        width: 100%;
        margin-bottom: #{$default-space-unit-small}px;
        flex: 0 1 auto;
        align-self: stretch;
    }

    &__label {
        display: block;
        margin-bottom: #{$default-space-unit-small}px;
        font-weight: bold;
    }
}