.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;

    &__item {
        display: flex;
        position: relative;
    }

    &__link {
        font-family: Hind, "Open sans", sans-serif;
        font-size: 1rem;
        color: #ffffff;
        text-decoration: none;
        padding: 20px 15px;
        transition: all .3s ease-in-out;
        position: relative;

        &:hover,
        &:active {
            color: $navbar-link-hover-color;
        }

        &:hover::after {
            content: "";
            display: inline-block;
            font-weight: 900;
            width: 100%;
            height: 3px;
            background: $brand-color;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.nav {
    background-color: rgba(0,0,0,.95);

    &__close {
        display: none;
        background: transparent;
        color: #fff;
        border: 0;
        padding: 10px 20px;
        font-size: $font-large;
    }
}

.mobile-button {
    color: #ffffff;
    font-size: 1.5rem;
    border: 1px solid #ffffff;
    background: transparent;
    padding: 15px 20px;
    display: none;
    cursor: pointer;
}

// specific breakpoints
@media all and (max-width: 1024px) {
.nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: $dark-gray;
        position: fixed;
        top: 0;
        left: -100%;
        transform: translate3d(0,0,0);
        z-index: 200;
        padding-top: #{$default-space-unit-large}px;
        transition: $global-transition;

        &.is-expanded {
            left: 0;
        }

        &__close {
            display: initial;
            align-self: flex-end;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include paddingLeftRight(#{$default-space-unit}px);
        box-sizing: border-box;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            align-self: stretch;

            &:not(:last-child) {
                border-bottom: 1px solid #fff;
            }

            &::after {
                display: inline-block;
                font-family: 'Font Awesome\ 5 Free';
                content: "\f054";
                font-weight: 900;
                font-size: 10px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                color: #fff;
            }
        }

        &__link {
            text-align: center;
            padding-left: #{$default-space-unit-large}px;
            padding-right: #{$default-space-unit-large}px;
            font-size: $font-small;
            font-weight: bold;
            text-transform: uppercase;

            &:hover,
            &:active {
                background-color: darken($brand-color, 25%);
                outline: 1px dashed #ffffff;
            }
        }
    }
    .mobile-button {
        display: inline-block;
    }
}
