.page-header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark-gray;
    @include breakpoint(desktop) {
        height: 450px;
    }

    &__title {
        font-family: Hind, sans-serif;
        font-size: $font-large;
        color: #ffffff;
        @include breakpoint(desktop) {
            font-size: $font-huge * 2;
        }
    }
}