.widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: #{$default-space-unit}px;

    &__item,
    &__title {
        width: 100%;
        font-family: Hind;
        margin-bottom: #{$default-space-unit}px;
    }

    &__item {
        padding: #{$default-space-unit}px;
        box-sizing: border-box;

        &--bg-light {
            background-color: $light-gray;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 5px solid $dark-gray;
    }
}